{% load static %}

<br>

<div class="row">
	<div class="col">
      <div class="col-md">
        <div class="card text-center text-white  mb-3" id="total-orders">
            <div class="card-header">
              <h5 class="card-title">Histogram</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title"><a class="btn btn-outline-info" href="{% url 'histogram_plot_form_page' %}"><img src="{% static 'images/histplot.png' %}" height="300" width="300"></a></h3>
            </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-white  mb-3" id="total-orders">
            <div class="card-header">
              <h5 class="card-title">Box Plots</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title"><a class="btn btn-outline-info" href="{% url 'box_plot_form_page' %}"><img src="{% static 'images/boxplot.png' %}" height="300" width="300"></a></h3>
            </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-white  mb-3" id="total-orders">
            <div class="card-header">
              <h5 class="card-title">Count Plots</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title"><a class="btn btn-outline-info" href="{% url 'count_plot_form_page' %}"><img src="{% static 'images/countplot.png' %}" height="300" width="300"></a></h3>
            </div>
        </div>
      </div>
    </div>
</div>
